        $fz5: 50px;
        $fz2:20px;
        header {
            .navbar {
                background-color: white;
                padding: 25px 0;
            }
            .headerDiv {
                padding-top: 17%;
                h1 {
                    font-size: $fz5;
                }
                p {
                    margin-top: 30px;
                    font-size: $fz2;
                }
            }
        }
        .header1{
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg.menu.webp);
            background-attachment: fixed;
            height: 90vh;
            margin: 0 80px 80px 80px;
            background-size: cover;
            background-repeat: no-repeat;
            .navbar {
                background-color: white;
                padding: 25px 0;
            }
            .headerDiv {
                padding-top: 17%;
                h1 {
                    font-size: $fz5;
                    @media only screen and (max-width:600px){
                        & {
                            font-size: 17px;
                        }
                    }
                }
                p {
                    margin-top: 30px;
                    font-size: $fz2;
                    @media only screen and (max-width:600px){
                        & {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        
        .sec1 {
            margin: 80px;
            .project1{
                background-image: url(../img/pr1.webp);
                height: 450px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 70px;
                position: relative;
                .overlayCoL {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    visibility: hidden; 
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4); 
                    transition: 0.5s;
                    cursor: pointer;
                }
                &:hover .overlayCoL{
                    visibility: visible; 
                    opacity: 1; 
                }
            }
            .project2 {
                background-image: url(../img/pr22.webp);
                height: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                .overlayCoL {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    visibility: hidden; 
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4); 
                    transition: 0.5s;
                    cursor: pointer;
                }
                &:hover .overlayCoL{
                    visibility: visible; 
                    opacity: 1; 
                }
            }
            .project3 {
                background-image: url(../img/pr3.webp);
                height: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 70px;
                position: relative;
                .overlayCoL {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    visibility: hidden; 
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4); 
                    transition: 0.5s;
                    cursor: pointer;
                }
                &:hover .overlayCoL{
                    visibility: visible; 
                    opacity: 1; 
                }
            }
            .project4 {
                background-image: url(../img/pr4.webp);
                height: 450px;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                .overlayCoL {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    visibility: hidden; 
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4); 
                    transition: 0.5s;
                    cursor: pointer;
                }
                &:hover .overlayCoL{
                    visibility: visible; 
                    opacity: 1; 
                }
            }
            .project5 {
                background-image: url(../img/pr5.webp);
                height: 450px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 70px;
                position: relative;
                .overlayCoL {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    visibility: hidden; 
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4); 
                    transition: 0.5s;
                    cursor: pointer;
                }
                &:hover .overlayCoL{
                    visibility: visible; 
                    opacity: 1; 
                }
            }
            .project6 {
                background-image: url(../img/pr6.webp);
                height: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                .overlayCoL {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    visibility: hidden; 
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4); 
                    transition: 0.5s;
                    cursor: pointer;
                }
                &:hover .overlayCoL{
                    visibility: visible; 
                    opacity: 1; 
                }
            }
            .project7 {
                background-image: url(../img/pr7.webp);
                height: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 70px;
                position: relative;
                .overlayCoL {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    visibility: hidden; 
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4); 
                    transition: 0.5s;
                    cursor: pointer;
                }
                &:hover .overlayCoL{
                    visibility: visible; 
                    opacity: 1; 
                }
            }
            .project8 {
                background-image: url(../img/pr8.webp);
                height: 450px;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                .overlayCoL {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    visibility: hidden; 
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4); 
                    transition: 0.5s;
                    cursor: pointer;
                }
                &:hover .overlayCoL{
                    visibility: visible; 
                    opacity: 1; 
                }
            }
            .sec1col {
                margin: 35px;
            }
            .sec1col1 {
                margin: 35px 35px 0 0;
            }
            .sec1col2 {
                margin: 35px 0 0 35px;
            }
            .overlayCoL{
                span{
                    position: absolute;
                    color: white;
                    font-size: $fz2;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }


        .sec2 {
            margin: 70px;
            .sec2Col {
                background-image: url(../img/My\ Desing.webp);
                height: 800px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            h2 {
                font-size: $fz5;
            }
            .sec2Col1 {
                margin: 220px 120px;
            }
        }
        
        .sec3 {
            padding: 50px;
            background-color: rgb(244, 238, 226);
            .sec3col1 {
                background-image: url(../img/but1.webp);
                background-size: cover;
                background-repeat: no-repeat;
                height: 380px;
                margin: 20px;
            }
            .sec3col2 {
                background-image: url(../img/but2.webp);
                background-size: cover;
                background-repeat: no-repeat;
                height: 380px;
                margin: 20px;
            }
            .sec3col3 {
                background-image: url(../img/but3.webp);
                background-size: cover;
                background-repeat: no-repeat;
                height: 380px;
                margin: 20px;
            }
            h2 {
                font-size: $fz5;
            }
            h5 {
                font-size: 15px;
            }
        }



.sec4{ 
    margin-top: 100px;
    input{
    width: 100%;
    margin: 0 0 20px 0;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px;
    }
    button{
        padding: 5px 25% 5px 25%;
        border-radius: 0;
    }
    input[type="checkbox"]{
        width: 10%;
    }
}


.header2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/My\ servise.webp);
    background-attachment: fixed;
    height: 70vh;
    margin: 0 80px 80px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.sec5{
    .diva{
        display: inline-block;
        margin-bottom: 100px;
        border-bottom: 1px solid black;
    }
    .Row2{
        border-bottom: 1px solid black;
    }
    button{
        border-radius: 0;
    }

    a {
        color: black;
        text-decoration: none;
        margin: 0 20px 0 20px;
    }
    
    .tab.active {
        border: 2px solid ghostwhite;
    }
    
    .tab-content{
        display: none;
    }
    .show {
        display: block;
    }
}




.header3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/About.webp);
    background-attachment: fixed;
    height: 65vh;
    margin: 0 80px 80px 80px;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec6{
    img{
        width: 100%;
    }
    .texte{
        padding: 100px 20px 100px 20px;
        h5{
            margin-bottom: 40px;
        }
        p{
            margin-bottom: 30px;
        }
    }
}


.header4{
    height: 50vh;
    margin: 0 80px 80px 80px;
    .headerDiv {
        padding-top: 10%;
    }
}


.sec7{
    .container{
        input{
            border: none;
            border-bottom: 1px solid black;
            outline: none;
            padding: 30px 0 30px 0;
            width: 100%;
            background-color: transparent;
        }
        textarea{
            border: none;
            outline: none;
            width: 100%; 
            background-color: transparent;
        }
        button{
            width: 100%;
            border-radius: 0;
            margin: 10px 0 0 0;
        }
        img{
            width: 100%;
            height: 70vh;
        }
    }
}





footer{
    height: 150px;
    margin-top: 100px;
    img{
        width: 30%;
    }
}